.block-sets-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 5% 10%;
}

.block-sets-container a {
	display: flex;
	width: 200px;
	height: 200px;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: 1%;
}